* {
  box-sizing: border-box;
}

body { 
  width: 100%; 
  margin-top: 50px;
  margin-bottom: 50px; 
  font-family: monaco;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  overflow: auto;
}

h1 {
  margin-bottom: 50px;
  color: rgb(35, 190, 144); 
}

h2 {
  margin-bottom: 50px;
  color: rgba(236, 54, 221, 0.658); 
}

h3 {
  margin-top: 0;
  margin-bottom: 50px;
  color: rgba(98, 202, 141, 0.582);
  color: gr 
}

.square {
  height: 20vw;
  width: 20vw;
  display: inline-block; 
}

.pink {
  background-color: rgb(228, 135, 182);
}
.rust {
  background-color: rgb(255, 94, 0);
}
.blue {
  background-color: rgba(0, 195, 255, 0.274);
}
.green {
  background-color: rgb(72, 167, 92);
}
.yellow {
  background-color: rgba(255, 238, 0, 0.733);
}
.teal {
  background-color: teal;
}
.orange {
  background-color: orange;
}
.purple {
  background-color: rgb(172, 47, 172);
}

.backside {
  background-color: aliceblue;
}

button {
  margin-top: 30px;
  padding: 15px;
  width: 250px;  
  background-color: pink;
  color: red;
  border-color: red;
  border-radius: 5px;
  font-size: 20px;
  font-family: monaco;
}

button:hover {
  background-color: red;
  color: pink;
}

@media only screen and (max-width: 780px) {
  body {
    width: 95vw;
    height: 75vh; 
    margin: 10px;
    padding: 0px;  
  }

  button {
    width: 150px;  
    font-size: 15px;
  }

  h1 {
    font-size: 25px;
    padding: 0; 
    margin: 10px; 
  }

  h2 {
    font-size: 15px;
    margin: 10px 0 20px 0; 
  }

  h3 {
    margin: 10px; 
  }
}

